@model IEnumerable<MvcSeriesPersonajesEVE.Models.Serie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="InsertarSerie" asp-controller="Series">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anyo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                    <img src="@item.Imagen"
                    style="width: 220px; height: 200px;"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anyo)
            </td>
            <td>
                <a asp-controller="Series" asp-action="Detalles" asp-route-id="@item.IdSerie"
                    class="btn btn-outline-dark">
                    Detalles
                </a>
                <a asp-controller="Series" asp-action="Personajes" asp-route-id="@item.IdSerie"
                   class="btn btn-outline-dark">
                    Personajes
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
